# Node modules
node_modules/

# Build output folders
dist/
build/

# System files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/

# Package files
package-lock.json
yarn.lock

# Terraform files
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Logs
*.log

# Temporary files
tmp/
temp/