# Code Owners

# Define ownership for specific directories
/apps/website/ @frontend-team
/apps/did-resolver/ @backend-team
/libs/ui/ @frontend-team
/libs/config/ @backend-team
/libs/utils/ @backend-team
/infra/ @devops-team
/docs/ @documentation-team
/.github/ @devops-team